body{
    background-color: #000000;
    
}
fieldset{
    margin: 100px;
    border-color: rgb(243, 0, 0);
    color: white;
    bore
}
h1{
    text-align: center;
    border: 15pt ;
}

header {
    background-color: #4b0303;
    padding: 20px;
    color: rgb(243, 28, 28);
    text-shadow: 2px 5px 15px red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

label{
    margin: 15px;
    padding: 5px;
    font: normal 15pt Arial;
}

input{
    box-shadow: 5px 5px 7px red;
}
header h1 {
    font-size: 2em;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    
}

nav ul li a:hover {
    color: #ff0000f3;
}
